# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/
.env

# Dataset
data/raw/
data/processed/

# Jupyter
.ipynb_checkpoints/

# Temporary files
temp/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db